<div id="recent-articles">
    <section> 
        <img src="/images/browser-speed.png" alt="">
        <h1>How to add an extension to Chrome?</h1>
        <p>Some description text of this category here. Some description text. Some description text of this category here. Some description text.</p>
        <button>Read this article</button>
    </section>
    <section>
        <img src="/images/adblocker.png" alt="">
        <h1>How to uninstall Chrome extensions?</h1>
        <p>Some description text of this category here. Some description text. Some description text of this category here. Some description text.</p>
        <button>Read this article</button>
    </section>
    <section>
        <img src="/images/private-browser.png" alt="">
        <h1>The Simple Guide to Browser Extensions (or A Beginners Guide...)</h1>
        <p>Some description text of this category here. Some description text. Some description text of this category here. Some description text.</p>
        <button>Read this article</button>
    </section>
</div>